<div id="consulterDevis" class="table-responsive">

    <div class="container-fluid" id="versionClient">
        <div class="row">
            <div class="col-6">
                <div id="nomClientDevisVersionClient">
                    <p class="d-inline text-dark font-weight-bold"> Nom: </p>
                    <p class="d-inline client" id="nomVersionClient"></p>
                </div>

                <div id="prenomClientDevisVersionClient">
                    <p class="d-inline text-dark font-weight-bold"> Prénom: </p>
                    <p class="d-inline client" id="prenomVersionClient"></p>
                </div>

                <div id="dateDebutDesTravauxVersionClient">
                    <p class="d-inline text-dark font-weight-bold"> Date début des travaux: </p>
                    <p class="d-inline client" id="dateDebutVersionClient"></p>
                </div>

                <div id="dateDevisVersionClient">
                    <p class="d-inline text-dark font-weight-bold"> Date du devis: </p>
                    <p class="d-inline client" id="dateVersionClient"></p>
                </div>

                <div id="dureeTravauxDevisVersionClient">
                    <p class="d-inline text-dark font-weight-bold"> Durée des travaux: </p>
                    <p class="d-inline client" id="dureeVersionClient"></p>
                </div>

                <div id="typeAmenagementsDevisVersionClient">
                    <p class="d-inline text-dark font-weight-bold">Type(s) d'aménagement(s): </p>
                    <p class="d-inline client" id="typesVersionClient">
                    </p>
                </div>

                <div id="etatDavancementVersionClient">
                    <p class="d-inline text-dark font-weight-bold">L'état d'avancement:</p>
                    <p class="d-inline client" id="etatVersionClient"></p>
                </div>
                Photo(s) avant aménagements:
                <table id="photosAvantVersionClient" class="table-responsive client">
                </table>
            </div>
            <div class="col-6">
                Photo(s) après aménagements:
                <table id="photosApresVersionClient" class="table-responsive client">
                </table>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="versionOuvrier">
        <div class="row m-0">
            <div class="col-6">
                <div id="nomClientDevisVersionOuvrier">
                    <p class="d-inline text-dark font-weight-bold"> Nom: </p>
                    <p class="d-inline ouvrier" id="nomVersionOuvrier"></p>
                </div>

                <div id="prenomClientDevisVersionOuvrier">
                    <p class="d-inline text-dark font-weight-bold"> Prénom: </p>
                    <p class="d-inline ouvrier" id="prenomVersionOuvrier"></p>
                </div>

                <div id="dateDebutDesTravauxVersionOuvrier">
                    <p class="d-inline text-dark font-weight-bold"> Date début des travaux: </p>
                    <p class="d-inline ouvrier" id="dateDebutVersionOuvrier"></p>
                </div>

                <div id="dateDevisVersionOuvrier">
                    <p class="d-inline text-dark font-weight-bold"> Date du devis: </p>
                    <p class="d-inline ouvrier" id="dateVersionOuvrier"></p>
                </div>

                <div id="dureeTravauxDevisVersionOuvrier">
                    <p class="d-inline text-dark font-weight-bold"> Durée des travaux: </p>
                    <p class="d-inline ouvrier" id="dureeVersionOuvrier"></p>
                </div>

                <div id="typeAmenagementsDevisVersionOuvrier">
                    <p class="d-inline text-dark font-weight-bold"> Type(s) d'aménagement(s): </p>
                    <p class="d-inline ouvrier" id="typesVersionOuvrier">
                    </p>
                </div>

                <div id="etatDavancementVersionOuvrier">
                    <p class="d-inline text-dark font-weight-bold">L'état d'avancement: </p>
                    <p class="d-inline ouvrier" id="etatVersionOuvrier">
                    </p>
                </div>
                Photo(s) avant aménagements:
                <table id="photosAvantVersionOuvrier" class="table-responsive ouvrier">
                </table>
            </div>
            <div class="col-6">
                <div>
                    <label class="customcheck text-dark font-weight-bold" for="confirmerCommande">
                        Confirmer la commande d'aménagements
                        <input type="checkbox" name="" id="confirmerCommande" autocomplete="off">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="customcheck text-dark font-weight-bold" for="confirmerDateDebut">
                        Confirmer date de début des travaux
                        <input type="checkbox" name="" id="confirmerDateDebut" autocomplete="off">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="customcheck text-dark font-weight-bold" for="repousserDateDebut">
                            Repousser la date de début des travaux
                            <input type="checkbox" name="" id="repousserDateDebut" autocomplete="off">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="col-md-6">
                        <input type="date" id="inputRepousser" min="2020-05-01">
                    </div>

                </div>
                <div><label class="customcheck text-dark font-weight-bold" for="indiquerFactureMilieu">
                        Indiquer que la facture de milieu de chantier est envoyée
                        <input type="checkbox" name="" id="indiquerFactureMilieu" autocomplete="off">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="customcheck text-dark font-weight-bold" for="indiquerFactureFin">
                        Indiquer que la facture de fin de chantier est envoyée
                        <input type="checkbox" name="" id="indiquerFactureFin" autocomplete="off">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="customcheck text-dark font-weight-bold" for="rendreVisible">
                        Rendre la réalisation visible
                        <input type="checkbox" name="" id="rendreVisible" autocomplete="off">
                        <span class="checkmark"></span>
                    </label>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-6">
                Photo(s) après aménagements:
                <table id="photosApresVersionOuvrier" class="table-responsive ouvrier">
                </table>
            </div>
            <div class="col-6 ">
                <p class="text-dark font-weight-bold "> Insérer des photos après aménagements :</p>
                <div id="drop-container-apres">
                    <div>
                        <p class="drop-area-text "><a style="font-size: 1em;color: #e0dfdf;" href=""
                                id="selectImageApres">Cliquez ici pour
                                choisir une image </a>ou faites-la glisser ici</p>
                        <input type="file" id="inputFileApres" class="d-none">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="offset-6 col-6 " style="margin-right: -20px;">
                <button class="btn btn-danger btn-md  btn-block text-white" id="annulerDemande"
                    autocomplete="off">Annuler
                    la demande
                    d'aménagements</button>
            </div>
        </div>
    </div>
</div>
</div>
</div>


<!--fin-->
</div>
</div>
</div>
</div>
</body>

</html>