<div id="consulterDevis" class="table-responsive">

    <div class="container-fluid" id="versionClient">
        <div class="row">
            <div class="col-6">
                <div id="nomClientDevisVersionClient">
                    <p class="d-inline text-dark font-weight-bold"> Nom: </p>
                    <p class="d-inline client" id="nomVersionClient"></p>
                </div>

                <div id="prenomClientDevisVersionClient">
                    <p class="d-inline text-dark font-weight-bold"> Prénom: </p>
                    <p class="d-inline client" id="prenomVersionClient"></p>
                </div>

                <div id="dateDebutDesTravauxVersionClient">
                    <p class="d-inline text-dark font-weight-bold"> Date début des travaux: </p>
                    <p class="d-inline client" id="dateDebutVersionClient"></p>
                </div>

                <div id="dateDevisVersionClient">
                    <p class="d-inline text-dark font-weight-bold"> Date du devis: </p>
                    <p class="d-inline client" id="dateVersionClient"></p>
                </div>

                <div id="dureeTravauxDevisVersionClient">
                    <p class="d-inline text-dark font-weight-bold"> Durée des travaux: </p>
                    <p class="d-inline client" id="dureeVersionClient"></p>
                </div>

                <div id="typeAmenagementsDevisVersionClient">
                    <p class="d-inline text-dark font-weight-bold">Type(s) d'aménagement(s): </p>
                    <p class="d-inline client" id="typesVersionClient">
                    </p>
                </div>

                <div id="etatDavancementVersionClient">
                    <p class="d-inline text-dark font-weight-bold">L'état d'avancement:</p>
                    <p class="d-inline client" id="etatVersionClient"></p>
                </div>
                <h6 class="text-dark font-weight-bold">Photo(s) avant aménagements:</h6>
                <table id="photosAvantVersionClient" class="table-responsive client">
                </table>
            </div>
            <div class="col-6">
                <h6 class="text-dark font-weight-bold">Photo(s) après aménagements:</h6>
                <table id="photosApresVersionClient" class="table-responsive client">
                </table>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="versionOuvrier">
        <div class="row m-0 " id="changeSizeRow">
            <div class="col-6">
                <div id="nomClientDevisVersionOuvrier">
                    <p class="d-inline text-dark font-weight-bold"> Nom: </p>
                    <p class="d-inline ouvrier" id="nomVersionOuvrier"></p>
                </div>

                <div id="prenomClientDevisVersionOuvrier">
                    <p class="d-inline text-dark font-weight-bold"> Prénom: </p>
                    <p class="d-inline ouvrier" id="prenomVersionOuvrier"></p>
                </div>

                <div id="dateDebutDesTravauxVersionOuvrier">
                    <p class="d-inline text-dark font-weight-bold"> Date début des travaux: </p>
                    <p class="d-inline ouvrier" id="dateDebutVersionOuvrier"></p>
                </div>

                <div id="dateDevisVersionOuvrier">
                    <p class="d-inline text-dark font-weight-bold"> Date du devis: </p>
                    <p class="d-inline ouvrier" id="dateVersionOuvrier"></p>
                </div>

                <div id="dureeTravauxDevisVersionOuvrier">
                    <p class="d-inline text-dark font-weight-bold"> Durée des travaux: </p>
                    <p class="d-inline ouvrier" id="dureeVersionOuvrier"></p>
                </div>

                <div id="typeAmenagementsDevisVersionOuvrier">
                    <p class="d-inline text-dark font-weight-bold"> Type(s) d'aménagement(s): </p>
                    <p class="d-inline ouvrier" id="typesVersionOuvrier">
                    </p>
                </div>

                <div id="etatDavancementVersionOuvrier">
                    <p class="d-inline text-dark font-weight-bold">L'état d'avancement: </p>
                    <p class="d-inline ouvrier" id="etatVersionOuvrier">
                    </p>
                </div>
                <h6 class="text-dark font-weight-bold"> Photo(s) avant aménagements: </h6>
                <table id="photosAvantVersionOuvrier" class="table-responsive ouvrier">
                </table>
            </div>
            <div class="col-6" id="noCheckbox">
                <div class="row hideAllCheckBox" id="hideCheckBox1">
                    <div class="col-md-8">
                        <label class="customcheck text-dark font-weight-bold" for="confirmerCommande">
                            <button id="confirmerCommande" class="btn btn-success btnEtat"><i class="fas fa-check fa-1x"></i> </button>
                            <span class="checkBox1"><i class="fas fa-check-circle fa-lg"></i></span> Confirmer la
                            commande
                            d'aménagements
                        </label>
                    </div>
                    <div class="col-md-1">
                        <input type="date" id="inputDateDebut" min="2020-05-01">
                    </div>
                </div>
                <div class="row hideAllCheckBox" id="hideCheckBox2">
                    <div class="col-md-8">
                        <label class="customcheck text-dark font-weight-bold" for="repousserDateDebut">
                            <button id="repousserDateDebut" class="btn btn-success btnEtat"><i class="fas fa-check fa-1x"></i></button>
                            <span class="checkBox2"><i class="far fa-calendar-alt fa-lg"></i></span> Repousser/modifier
                            la date
                            de
                            début des travaux
                        </label>
                    </div>
                    <div class="col-md-1">
                        <input type="date" id="inputRepousser" min="2020-05-01">
                    </div>
                </div>
                <div class="hideAllCheckBox" id="hideCheckBox3">
                    <label class="customcheck text-dark font-weight-bold" for="supprimerDateDebut">
                        <button id="supprimerDateDebut" class="btn btn-success btnEtat"><i class="fas fa-check fa-1x"></i> </button>
                        <span class="checkBox3"><i class="far fa-trash-alt fa-lg"></i></span> Supprimer la date de debut
                        des travaux
                    </label>
                </div>
                <div class="hideAllCheckBox" id="hideCheckBox4">
                    <label class="customcheck text-dark font-weight-bold" for="confirmerDateDebut">
                        <button id="confirmerDateDebut" class="btn btn-success btnEtat"><i class="fas fa-check fa-1x"></i> </button>
                        <span class="checkBox4" ><i class="fas fa-check-circle fa-lg"></i></span> Confirmer date de début
                        des travaux (Acompte payé)
                    </label>
                </div>

                <div class="hideAllCheckBox" id="hideCheckBox5">
                    <label class="customcheck text-dark font-weight-bold" for="indiquerFactureMilieu">
                        <button id="indiquerFactureMilieu" class="btn btn-success btnEtat"><i class="fas fa-check fa-1x"></i> </button>
                        <span class="checkBox5"><i class="far fa-paper-plane fa-lg"></i></span> Indiquer que la
                        facture de
                        milieu de chantier a été envoyée
                    </label>
                </div>
                <div class="hideAllCheckBox" id="hideCheckBox6">
                    <label class="customcheck text-dark font-weight-bold" for="indiquerFactureFin">
                        <button id="indiquerFactureFin" class="btn btn-success btnEtat"><i class="fas fa-check fa-1x"></i> </button>
                        <span class="checkBox6"><i class="far fa-paper-plane fa-lg"></i></span> Indiquer que la facture
                        de fin de chantier a été envoyée
                    </label>
                </div>

                <div class="hideAllCheckBox" id="hideCheckBox7">
                    <label class="customcheck text-dark font-weight-bold" for="rendreVisible">
                        <button id="rendreVisible" class="btn btn-success btnEtat"><i class="fas fa-check fa-1x"></i> </button>
                        <span class="checkBox7"><i class="far fa-eye fa-lg"></i></span> Rendre la réalisation
                        visible
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h6 class="text-dark font-weight-bold">Photo(s) après aménagements:</h6>
                <table id="photosApresVersionOuvrier" class="table-responsive ouvrier">
                </table>
            </div>
            <div class="col-6 " id="hideDropContainer">
                <h6 class="text-dark font-weight-bold"> Insérer des photos après aménagements :</h6>
                <div id="drop-container-apres">
                    <div>
                        <p class="drop-area-text "><a style="font-size: 1em;color: #e0dfdf;" href=""
                                id="selectImageApres">Cliquez ici pour
                                choisir une image </a>ou faites-la glisser ici</p>
                        <input type="file" id="inputFileApres" multiple="multiple" class="d-none">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="offset-6 col-6 mb-5 " style="margin-right: -20px;">
                <button class="btn btn-danger btn-md  btn-block text-white" id="annulerDemande"
                    autocomplete="off">Annuler
                    la demande
                    d'aménagements</button>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!--fin-->
</div>
</div>
</div>
</div>
</body>

</html>