<div id="card" class="container-fluid ">
    <div class="card mt-5" style=" width: 100% ; height: 100%;">
        <div class="card-body " style="background-color:white;">

            <div class="container register" style="display: none;">
                <!---style="display: none;"-->
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="./images/logo.PNG" alt="logo rose et le lilas" />
                        <h3>Bienvenue</h3>
                        <p>GreenTrees</p>
                    </div>
                    <!---------------Formulaire de login------------->
                    <div class="col-9">
                        <div id="loginContent"></div>
                        <!--ajout-->
                        <div id="login_form">
                            <div class="login-card-color p-3 shadow-lg rounded">
                                <div class="pt-3">
                                    <h2 class="text-white ">Connexion</h2>
                                </div>
                                <div id="login_message" class="alert alert-danger mt-3"></div>
                                <form class="mt-3">
                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input id="pseudo" type="text" class="form-control" placeholder="Pseudo"
                                            autocomplete="new-username" required>
                                    </div>
                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                        </div>
                                        <input id="mdp" type="password" class="form-control" placeholder="Mot de passe"
                                            autocomplete="new-password" required>
                                    </div>
                                    <div class="mt-5">
                                        <button type="submit" class="btn btn-sm btn-light col" id="login_btn">Se
                                            connecter</button>
                                    </div>
                                    <div class="mt-5">
                                        <p class="text-white text-center">
                                            Vous n'avez pas encore de compte?
                                            <a id="redirection_inscrit" href="#" style="color: aliceblue;">Cliquez ici
                                                pour vous
                                                inscrire!</a>
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>