<div class="container-fluid">
    <div id="searchCard" class="card shadow mb-4" style="display: none;">
        <h3 id="titre-page" class="card-title mt-3 ml-2 row p"></h3>
        <div id="searchContent" class="mt-4 ">
            <!--ajout-->

            <div id="searchHeaderCard" class="card-header ">
                <div id="accordion" role="tablist" style="width: 100%;">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <h5 class="mb-0">
                                <a id="titre_resultat" data-toggle="collapse" href="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    Affiner les recherches <span id="result"></span>
                                </a>
                                <button id="btn_remove_filters" class="btn btn-sm  lbl lbl-default h-5"
                                    style="display: none;">Supprimer les filtres <span><i
                                            class="fas fa-times-circle fa-lg"></i></span></button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
                            data-parent="#accordion">
                            <div class="card-body">
                                <div class="row">
                                    <div class="display-flex">
                                        <div id="filtre_client" style="display: none;">
                                            <div class="col-md-12">
                                                <div class="form-row mb-3">
                                                    <div class="form-group col-md-3">
                                                        <label for="ville_client">Ville :</label>
                                                        <input type="text" class="form-control nettoyerInput"
                                                            id="ville_client" placeholder="Entrer le nom de la Ville">
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label for="code_postal_client">Code postal:</label>
                                                        <input type="text" class="form-control nettoyerInput"
                                                            id="code_postal_client" placeholder="Entrer le code postal">
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label for="nom_client">Nom du client</label>
                                                        <input type="text" class="form-control nettoyerInput"
                                                            id="nom_client" placeholder="Entrer le nom du client">
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label for="prenom_client">Prénom du client</label>
                                                        <input type="text" class="form-control nettoyerInput"
                                                            id="prenom_client" placeholder="Entrer prénom du client">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!---------------Devis---------------->
                                        <div id="filtre_amenagement" style="display: none;">

                                            <div class="form-row mb-3" id="form_recherche">
                                                <div class="form-group col-md-2 client_hidden">
                                                    <label for="nom_client_amenagement">Nom client:</label>
                                                    <input type="text" class="form-control nettoyerInput"
                                                        id="nom_client_amenagement"
                                                        placeholder="Entrer le nom du client">

                                                </div>
                                                <div class="form-group col-md-2 client_hidden">

                                                    <label for="prenom_client_amenagement">Prénom client:</label>
                                                    <input type="text" class="form-control nettoyerInput"
                                                        id="prenom_client_amenagement"
                                                        placeholder="Entrer le prénom du client">
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label for="types_amenagements">Type d'amenagement :</label>
                                                    <input type="text" class="form-control nettoyerInput"
                                                        id="types_amenagements"
                                                        placeholder="Entrer le type de l'amenagement">
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label for="date_du_devis">Date du devis :</label>
                                                    <input type="date" class="form-control nettoyerInput"
                                                        id="date_du_devis">
                                                </div>


                                                <div class="form-group col-md-2">
                                                    <label>Montant min.</label>
                                                    <input type="number" class="form-control nettoyerInput"
                                                        id="montant_min" placeholder="€0">
                                                </div>
                                                <div class="form-group col-md-2 text-right">
                                                    <label>Montant max.</label>
                                                    <input type="number" class="form-control nettoyerInput"
                                                        id="montant_max" placeholder="€1,0000">
                                                </div>
                                            </div>

                                        </div>

                                        <!----------------User---------------------------------->
                                        <div id="filtre_user" style="display: none;">
                                            <div class="col-md-12">
                                                <div class="form-row mb-3">
                                                    <div class="form-group col-md-4">
                                                        <label for="ville_utilisateur">Ville :</label>
                                                        <input type="text" class="form-control nettoyerInput" id="ville_utilisateur"
                                                            placeholder="Entrer le nom de la Ville">
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="nom_utilisateur">Nom de l'utilisateur</label>
                                                        <input type="text" class="form-control nettoyerInput" id="nom_utilisateur"
                                                            placeholder="Entrer le nom de l'utilisateur">
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="prenom_utilisateur">Prénom de l'utilisateur</label>
                                                        <input type="text" class="form-control nettoyerInput" id="prenom_utilisateur"
                                                            placeholder="Entrer prénom de l'utilisateur">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button id="rechercher"
                                        class="btn btn-success btn-md  btn-block text-center">Rechercher</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div id="listeUser" class="table-responsive"></div>
        <!--<div id="introduireDevis" class="table-responsive"></div>-->
        <div id="listeDeTousLesDevis" class="table-responsive"></div>
        <div id="listeDeMesDevis" class="table-responsive"></div>
        <div id="listerClients" class="table-responsive"></div>